html,
body {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0; }

* {
  box-sizing: border-box; }

.container {
  position: relative;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 42%;
  grid-template-rows: auto; }

.info,
.factory-image {
  height: 100%;
  min-height: 100vh; }

.factory-image {
  display: block;
  background-color: #232071;
  background-image: url("../images/FactoryIllustration.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  grid-column: 1 / 2;
  grid-row: start / end; }

.info {
  padding: 25px 45px;
  background-color: #EBF1F8;
  grid-column: 2 / end;
  grid-row: start / end; }
  .info__container {
    padding: 0 55px; }

.logo {
  display: block;
  max-width: 245px;
  margin: 55px auto; }

html,
body {
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased; }

h1,
.heading--1 {
  font-family: 'Rubik', Helvetica, sans-serif;
  font-size: 1.625rem;
  font-weight: 400;
  line-height: 1.2; }

p,
.paragraph {
  margin: 1em 0 0;
  font-size: 1rem;
  line-height: 1.5; }

a {
  text-decoration: none; }

button {
  font-family: inherit;
  background: none;
  box-shadow: none;
  border: none;
  cursor: pointer; }

.button {
  display: block;
  padding: 13px 35px;
  margin: 40px auto;
  color: #FFF;
  font-size: 1.6rem;
  line-height: 1;
  text-align: center;
  background-color: #002F6C;
  border-radius: 8px; }

ul,
ol {
  padding: 0;
  margin: 0; }

ul {
  list-style-position: inside; }

.description-list {
  position: relative;
  margin: 40px;
  cursor: pointer; }
  .description-list:hover .description-list__info {
    visibility: visible; }
  .description-list:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 8px;
    width: 3px;
    height: 90%;
    margin: auto 0;
    content: '';
    background: #6EC3FA; }
  .description-list__term {
    position: relative;
    align-items: center;
    display: flex;
    font-size: 1.125rem; }
    .description-list__term:before {
      display: block;
      width: 20px;
      height: 20px;
      margin-right: 8px;
      content: '';
      background: #6EC3FA;
      border-radius: 100%; }
  .description-list__info {
    width: 240px;
    height: 70px;
    margin: 5px 0 5px 28px;
    font-size: 0.875rem;
    line-height: 1.5;
    visibility: hidden; }

.social-links {
  text-align: center; }
  .social-links__icon {
    width: 30px;
    margin: 0 20px;
    opacity: 0.4; }
