html,
body {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: $background--light;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  display: grid;
  height: 100%;

  @media only screen and (min-width: $mobile) {
    grid-template-columns: 1fr 42%;
    grid-template-rows: auto;
  }
}

.info,
.factory-image {
  height: 100%;
  min-height: 100vh;
}

.factory-image {
  display: none;

  @media only screen and (min-width: $mobile) {
    display: block;
    background-color: #232071;
    background-image: url('../images/FactoryIllustration.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;

    grid-column: 1 / 2;
    grid-row: start / end;
  }
}

.info {
  width: 100%;

  @media only screen and (min-width: $mobile) {
    grid-column: 2 / end;
    grid-row: start / end;
  }

  &__container {
    padding: 25px 45px;
  }
}

.logo {
  display: block;
  width: 60%;
  margin: 30px auto;

  @media only screen and (min-width: $mobile) {
    max-width: 230px;
    margin: 55px auto;
  }
}
