button {
  font-family: inherit;
  background: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

.button {
  display: block;
  padding: 13px 35px;
  margin: 40px auto;
  color: $white;
  font-size: 1.6rem;
  line-height: 1;
  text-align: center;
  background-color: $midnight-blue;
  border-radius: 8px;
}
