ul,
ol {
  padding: 0;
  margin: 0;
}

ul {
  list-style-position: inside;
}

.description-list {
  position: relative;
  margin: 40px;
  cursor: pointer;

  &:hover {
    .description-list__info {
      visibility: visible;
    }
  }

  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 8px;
    width: 3px;
    height: 90%;
    margin: auto 0;
    content: '';
    background: $malibu;
  }

  &__term {
    position: relative;
    align-items: center;
    display: flex;
    font-size: 1.125rem;

    &:before {
      display: block;
      width: 20px;
      height: 20px;
      margin-right: 8px;
      content: '';
      background: $malibu;
      border-radius: 100%;
    }
  }

  &__info {
    width: 240px;
    height: 70px;
    margin: 5px 0 5px 28px;
    font-size: 0.875rem;
    line-height: 1.5;
    visibility: hidden;
  }
}
