// Color Names from http://chir.ag/projects/name-that-color/
// Blues
$midnight-blue: #002F6C;
$malibu: #6EC3FA;

// Reds
$punch: #DB3B28;

// Grays
$white: #FFF;
$black-squeeze: #EBF1F8;
$dusty-gray: #9B9B9B;

// Functional Colors
$logo-color: $midnight-blue;
$background--light: $black-squeeze;
$error-color: $punch;

// Responsive Screen Sizes
$mobile: 800px;
