// Color Names from http://chir.ag/projects/name-that-color/
$midnight-blue: #002F6C;
$white: #FFF;
$black-squeeze: #EBF1F8;
$dusty-gray: #9B9B9B;

// Functional Colors
$logo-color: $midnight-blue;
$background--light: $black-squeeze;
